/* variables for colors used throughout portfolio */

:root {
  --theme-primary: #813772;
  --theme-secondary: #1d7874;
  --theme-tertiary: #062f4f;
  --theme-accent: #d00f27;
  /* blue-grey color from laptop background */
  --theme-bg: #a1abb1;
}

/* customize scrollbar */
body::-webkit-scrollbar {
  width: 0.6rem;
}

body::-webkit-scrollbar-track {
  background: #222;
}

body::-webkit-scrollbar-thumb {
  background: var(--theme-primary);
  border-radius: 10px;
}

/* customize background */
body {
  background: url("background2.jpg")
  no-repeat center center fixed;
  /* background: url(https://images.unsplash.com/photo-1519332978332-21b7d621d05e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60)
    no-repeat center center fixed; */
  /* background: url(https://images.unsplash.com/photo-1493723843671-1d655e66ac1c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60)
    no-repeat center center fixed; */
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  background-size: cover;
}
